<mat-toolbar class="navbar mat-elevation-z8" color="primary" >
    <mat-toolbar class="common-actions" color="primary">
        <au-nav-button class="button create-task"
            type="success"
            [alwaysElevation]="true"
            [route]="createTask.action"
            [icon]="createTask.icon"
            [text]="createTask.presentation">
        </au-nav-button>
    </mat-toolbar>

    <mat-toolbar class="search" color="primary">

    </mat-toolbar>

    <mat-toolbar class="profile" color="primary">

    </mat-toolbar>
</mat-toolbar>

<!-- <mat-divider class="divider"></mat-divider> -->
