$margin: .4em;

.grid{
    height: auto;

    .row{
        margin-bottom: $margin;
        padding: 0;

        .cell{
            height: auto;
            padding: 0;
            margin-right: $margin;

            &:last-child{
                margin-right: 0;
            }

            .widget{
                height: 100%;
            }
        }

        &:last-child{
            margin-bottom: 0;
        }
    }
}