<mat-toolbar class="au-upload" >
    <mat-horizontal-stepper
        class="stepper" labelPosition="bottom" linear #stepper
        (selectionChange)="selectionChange(stepper)">

        <ng-template matStepperIcon="edit">
            <mat-icon>insert_drive_file</mat-icon>
          </ng-template>
        
          <ng-template matStepperIcon="done">
            <mat-icon>done_all</mat-icon>
          </ng-template>
        
          <!-- Custom icon with a context variable. -->
          <ng-template matStepperIcon="number" let-index="index">
            {{index + 10}}
          </ng-template>

        <ng-template matStepperIcon="phone">
            <mat-icon>bubble_chart</mat-icon>
        </ng-template>

        <mat-step [stepControl]="stepSelectedFiles" 
            state="phone">

            <form [formGroup]="stepSelectedFiles" class="tab-selected-files">
                <ng-template matStepLabel>Выбор файлов</ng-template>

                <mat-toolbar-row class="command-panel" color="primary">
                    1
                </mat-toolbar-row>

                <mat-toolbar-row class="content">
                    <span class="drag-drop-canvas">
                        <mat-icon>
                            home
                        </mat-icon>
                    </span>

                    <span class="list">
                        3
                    </span>
                </mat-toolbar-row>
            </form>
        </mat-step>

        <mat-step [stepControl]="stepUploadFiles" [optional]="true">
            <form [formGroup]="stepUploadFiles">
                <ng-template matStepLabel>Настройки</ng-template>
            </form>
        </mat-step>

        <mat-step [stepControl]="stepFinal">
            <form [formGroup]="stepFinal">
                <ng-template matStepLabel>Завершение</ng-template>
            </form>
        </mat-step>
    </mat-horizontal-stepper>

    <mat-toolbar class="stepper-controls">
        <span class="spacer"></span>

        <button mat-raised-button color="primary" color="warn">Отмена</button>

        <button mat-raised-button
            #prevButton 
            color="primary" 
            class="backward" 
            [disabled]="!canPrevStep"
            (click)="prevStep(stepper, prevButton)">Назад</button>

        <button mat-raised-button
            #nextButton
            color="primary"
            class="forward"
            (click)="nextStep(stepper, nextButton)">{{nextButtonText}}</button>
    </mat-toolbar>
</mat-toolbar>
