::ng-deep ng-component {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}

.au-main-view{
    display: flex;
    flex-direction: row;
    height: 100vh;

    .content{
        display: flex;
        flex: 1;
        flex-direction: column;

        .view{
            display: flex;
            flex-direction: column;
            height: 100vh;

            .canvas{
                padding: 1em;
                display: flex;
                flex: 1;
                flex-direction: column;
            }
        }
    }
}