<mat-drawer-container class="au-main-view">
  <mat-drawer-content>
      <au-sidebar></au-sidebar>
  </mat-drawer-content>
  <mat-drawer-content class="content">
      <div class="view">
          <au-au-navbar class="navbar"></au-au-navbar>

          <div class="canvas">
              <router-outlet></router-outlet>
          </div>
      </div>
    <!-- <router-outlet></router-outlet> -->
  </mat-drawer-content>

  <mat-toolbar *ngIf="overlayVisible">
  
  </mat-toolbar>
</mat-drawer-container>